<div class="border-form">
  <div class="container-fluid">
<% if @userparam.errors.any? %>
   <div id="error_explanation">
     <h2><%= pluralize(@userparam.errors.count, "error") %> </h2>
  
     <ul>
     <% @userparam.errors.full_messages.each do |msg| %>
       <li><%= msg %></li>
     <% end %>
     </ul>
   </div>
 <% end %>

<%= form_for @userparam, url: userparam_path(@userparam.id) do |f| %>
<h2>Edit Profile</h2>
<center>
  <div class="field">  
   <%= f.text_field :firstname, class: "field_", placeholder: " Firstname" %><br />
  </div>

  <div class="field">
   <%= f.text_field :lastname, class: "field_", placeholder: "Lastname" %><br />
   </div>

  <div class="field">
    <%= f.text_field :age, class: "field_", placeholder: "Age" %><br />
  </div>

  <div class="field">
    <%= f.text_field :hometown, class: "field_" , placeholder: " Hometown"%><br />
  </div>

  <div class="field">
    <%= f.text_field :occupation, class: "field_", placeholder: "Occupation" %><br />
  </div>

  <div class="field">
    <%= f.file_field :avatar%> <br />
  </div>


   <div class="actions">
  <%= f.submit "Save", class: "subm" %>
  </div>
<% end %>
</div>
</div>