<% if @comment.errors.any? %>
   <div id="error_explanation">
     <h2><%= pluralize(@comment.errors.count, "error") %> </h2>
  
     <ul>
     <% @comment.errors.full_messages.each do |msg| %>
       <li><%= msg %></li>
     <% end %>
     </ul>
   </div>
 <% end %>
<%= form_for @comment, url: comments_path(coworkingspace_id: @coworkingspace.id) do |f|%>
Your message <%= f.text_field :message %><br>
Photo: <%= f.file_field :image %><br>
<%= f.submit "Create" %>
<% end %>