<% if @coworkingspace.errors.any? %>
   <div id="error_explanation">
     <h2><%= pluralize(@coworkingspace.errors.count, "error") %> </h2>
  
     <ul>
     <% @coworkingspace.errors.full_messages.each do |msg| %>
       <li><%= msg %></li>
     <% end %>
     </ul>
   </div>
 <% end %>
<%= form_for @coworkingspace, url: spaces_path do |f| %>
<p>Location </p><br>
City <%= f.text_field :city %><br>
Address <%= f.text_field :address %><br>
Area in m² <%= f.text_field :area %><br>
Description: <%= f.text_area :description, size: "60x12"  %><br>
Price per a person (per a day) in $: <%= f.text_field :price %><br>
How many persons: <%= f.number_field :people_number, value:1, min: 1 %><br>
Do you have:<br>
Kitchen  <%= f.check_box :has_kitchen %><br>
Meetroom  <%= f.check_box :has_meetroom %><br>
free WiFi  <%= f.check_box :has_free_wifi %><br>
free coffee, tea, and cookies? <%= f.check_box :has_free_cookies %><br>
Photo: <%= f.file_field :image %><br>
<%= f.submit "Create" %>
<% end %>