 <% if @orderspace.errors.any? %>
   <div id="error_explanation">
     <h2><%= pluralize(@orderspace.errors.count, "error") %> </h2>
  
     <ul>
     <% @orderspace.errors.full_messages.each do |msg| %>
       <li><%= msg %></li>
     <% end %>
     </ul>
   </div>
 <% end %>
 <%= form_for @orderspace, url: orderspace_path(@orderspace.id) do |f| %>
How many persons: <%= f.number_field :peopleNumber, value:1, min: 1 %><br>
<%= f.date_select :beginDate, start_year: Date.current.year, end_year: Date.current.year %> <br>
<%= f.date_select :finishDate, start_year: Date.current.year, end_year: Date.current.year %> <br>
<%= f.submit "Book a coworking space" %>
<% end %>