<div class="container-fluid">
	<% if @orderspaces == [] || @orderspaces == nil %>
		<center><h2>You have no bookings yet</h2></center>
	<% else %>
	
		<div class="row">
			<div class="col-4"></div>
			<div class="col-4">
			<div class="space">	
	  <% @orderspaces.each do |order| %>
		<% if current_user.id == order.user_id %>
		<p>City <%= order.coworkingspace.city %></p>
		<p>Address <%= order.coworkingspace.address %></p>
		<p>How many persons do I need the coworking space for: <%= order.peopleNumber %><p>
		<p>Total sum: <%= order.peopleNumber * order.coworkingspace.price * (order.finishDate - order.
	beginDate + 1)%></p>
	<p>Begin date <%= order.beginDate %></p>
	<p>Finish date <%= order.finishDate %></p>
	Photo: <%= image_tag(order.coworkingspace.image_url, size: "100x100")%></p>
	<%= link_to "Read more", order_path(order.id), class: "subm" %><br>
		<% end %>
	  <% end %>
	<% end %>
	</div>
	<div class="col-4"></div>
	</div>
	</div>
</div>