City <%= @orderspace.coworkingspace.city %><br>
Address <%= @orderspace.coworkingspace.address %><br>
Area in m² <%= @orderspace.coworkingspace.area %><br>
Description: <%= @orderspace.coworkingspace.description %><br>
Price per a day (per person): <%= @orderspace.coworkingspace.price%><br>
How many persons do I need the coworking space for: <%= @orderspace.peopleNumber %><br>
Total sum: <%= @orderspace.peopleNumber * @orderspace.coworkingspace.price * (@orderspace.finishDate - @orderspace.beginDate + 1)%><br>
The coworking space has:<br>
Kitchen  <%= check_box_tag 'Kitchen', 'accepted', @orderspace.coworkingspace.has_kitchen, disabled: true %><br>
Meetroom  <%= check_box_tag 'Meetroom', 'accepted', @orderspace.coworkingspace.has_meetroom, disabled: true %><br>
free WiFi  <%= check_box_tag "WiFi", 'accepted', @orderspace.coworkingspace.has_free_wifi, disabled: true %><br>
free coffee, tea, and cookies? <%= check_box_tag "Cookies", 'accepted', @orderspace.coworkingspace.has_free_cookies, disabled: true %><br>
Photo: <%= image_tag(@orderspace.coworkingspace.image_url, size: "100x100")%></p>
<%= link_to "Edit booking", edit_order_path(@orderspace.id) %>
<%= link_to "Delete booking", order_path(@orderspace.id), method: :delete, data: {confirm: "Are you sure you want to delete booking of the coworking space?"} %>