<div class="container-fluid">
	<div class="row">
	<div class="col-3"></div>
	<div class="col-6">
		<div class="border-form">
<% if @coworkingspace.errors.any? %>
   <div id="error_explanation">
     <h2><%= pluralize(@coworkingspace.errors.count, "error") %> </h2>
  
     <ul>
     <% @coworkingspace.errors.full_messages.each do |msg| %>
       <li><%= msg %></li>
     <% end %>
     </ul>
   </div>
 <% end %>
<%= form_for @coworkingspace, url: coworkingspaces_path do |f| %>
<h2>Location</h2> 
City <%= f.text_field :city %><br>
Address <%= f.text_field :address %><br>
Area in m² <%= f.text_field :area %><br>
Description: <%= f.text_area :description, size: "60x12"  %><br>
Price per a person (per a day) in $: <%= f.text_field :price %><br>
How many persons: <%= f.number_field :peopleNumber, value:1, min: 1 %><br>
Do you have:<br>
Kitchen  <%= f.check_box :hasKitchen %><br>
Meetroom  <%= f.check_box :hasMeetroom %><br>
free WiFi  <%= f.check_box :hasFreeWiFi %><br>
free coffee, tea, and cookies? <%= f.check_box :hasFreeCookies %><br>
Photo: <%= f.file_field :image %><br>
<%= f.submit "Create", class: "subm" %>
<% end %>
</div>
</div>
<div class="col-3"></div>
</div>
</div>