<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class = "but">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
<% if @suggestionspace.errors.any? %>
   <div id="error_explanation">
     <h2><%= pluralize(@suggestionspace.errors.count, "error") %> </h2>
  
     <ul>
     <% @suggestionspace.errors.full_messages.each do |msg| %>
       <li><%= msg %></li>
     <% end %>
     </ul>
   </div>
 <% end %>
<%= form_for @suggestionspace, url: suggestions_path(coworkingspace_id: @coworkingspace.id) do |f| %>
<p><%= f.date_select :beginDate, start_year: Date.current.year, end_year: Date.current.year + 5 %> <br>
<%= f.date_select :finishDate, start_year: Date.current.year, end_year: Date.current.year + 5 %> <br></p>
<%= f.submit "Create date", class: "subm" %>
<% end %>
</div>

     </div>
  </div>
</div>